.post-container{
  width: 550px;
  height: 170px;
  display: flex;
  justify-content: space-evenly;
}

img{
  height: 150px;
  width: 100px;
  border-radius: 10px;
}

.pagination-container{
  display: flex;
  width: 550px;
  justify-content: space-evenly;
}

.page-btn{
  background-color: black;
  padding: 1rem;
  color: white;
  cursor: pointer;
}

.active{
  background-color: red;
  color: black;
}

.page-btn:hover {
  transform: scale(0.8);
}